- content_for :head do
  %title Services informatiques
  
- content_for :feature do
  %h2 Services Informatiques  
  %p Retrouvez ci-dessous l'emplacement des salles informatiques et des bornes WIFI ainsi qu'une brève présentation de nos services.
  
- content_for :subcol do
  %dl
    %dd.work-in-progress Les pages marquées de ce signe sont en cours de rédaction. Bien que pouvant vous être utiles, elles peuvent être approximatives et contenir des erreurs. Vous pouvez nous aider en les lisant et en envoyant vos remarques à #{mail_to "yann.le-ru@isen.fr", "Yann Le Ru"}.

%h3 Services

%p L'école met à votre dispositions plusieurs services accessibles depuis l'école ou l'extérieur dont voici un bref résumé.

%dl  
  %dt Courrier électronique
  %dd Gérez tous les communications internes à l'école.
  
  %dt Annuaire électronique
  %dd Retrouvez l'adresse email d'un élève de l'école facilement ou envoyez un email à toute une promotion.
  
  %dt Environnement Numérique de Travail
  %dd L'ENT vous propose de gérer vos emails, votre agenda et bien d'autres choses encore depuis un site centralisé.
  
  %dt Imprimantes
  %dd Imprimez vos documents sur les imprimantes réseaux où que vous soyez dans l'école.
  
  %dt Système de gestion de verions
  %dd Gérez les sources de votre projet sans perde un seul fichier et de manière centralisée.
  
  %dt Voix sur IP
  %dd Communiquez facilement avec n'importe qui sur le réseau. 

%h3 Salles informatique & bornes WIFI

%p 
  L'école déploie de 26 bornes WIFI disposées à tous les étages. 
  Vous pouvez trouver leurs positions sur les plans ci-dessous.
  %br
  Les salles informatiques sont, quant à elles, situés au troisième étage. 
  Notez que votre badge est requis pour accéder à ces salles.
  
.info Afin de pouvoir utiliser le réseau WIFI, pensez à faire #{link_to "enregistrer votre ordinateur", "mac_registration.html"} grâce au formulaire prévu à cet effet.

%p Rez-de-chaussée
= gallery("plans/ground.png")

%p Premier étage
= gallery("plans/first-floor.png")

%p Deuxième étage
= gallery("plans/second-floor.png")

%p Troisième étage
= gallery("plans/third-floor.png")
