- content_for :head do
  %title Charte informatique > Services informatiques
  
- content_for :subcol do
  %h3.chapter 
    = image_tag "chapters.gif", :alt => '#'
    Contenu
  %ol.chapters
    %li= link_to "Lire la charte", "#read-convention"
    %li= link_to "Signer la charte", "#sign-convention"

- content_for :feature do
  %h2 Charte Informatique
  %p Signer la charte informatique vous donne accès aux salles informatique de l'école.  
  %ul
    %li Lisez le charte
    %li Signez la charte
  
%h3#read-convention 1 Lire la Charte

%p.info 
  Vous pouvez lire la charte au format PDF en 
  = link_to "cliquant ici", "documents/computer_charter.pdf"
  pour la télécharger.
  
%h3#sign-convention 2 Signer la Charte

- form_tag '/data/data.php', :class => 'registration-form', :method => 'post' do
  
  #ajax-response

  - field_set_tag do
  
    %p
      = label_tag "Prénom ", :for => :first_name
      = text_field_tag :first_name, :id => :first_name
  
    %p
      = label_tag "Nom ", :for => :name
      = text_field_tag :name, :id => :name
      
    %p
      = label_tag "Adresse email ISEN ", :for => :email
      = text_field_tag :email, :id => :email, :value => "@isen.fr"
    
  - field_set_tag(:class => 'buttons') do
    = button_tag "Signer", :id => 'add_cc'